<section class="bg-primary text-white text-center footer d-flex flex-column justify-content-center py-3 py-lg-0">
  <div class="container">
    <div class="row justify-content-lg-between justify-content-start align-items-center">
      <div class="col-auto">
        <a href="https://dai.lids.mit.edu/"><img src="{{'images/DAI logo.svg' | relative_url }}" width="130" class="d-inline-block p-2" alt="Data to AI" loading="lazy"></a>
      </div>
      <div class="col-auto">
        <p class="m-0 text-lg-center text-left"><a href="https://dai.lids.mit.edu/" rel="noreferrer" target="_blank" class="text-white font-weight-light small">Copyright © {{ 'now' | date: "%Y" }} Data to AI Laboratory, Massachusetts Institute of Technology</a></p>
      </div>
      <div class="col-auto">
        <a href="https://accessibility.mit.edu/" class="text-white font-weight-light small" target="_blank" rel="noopener">Accessibility</a>
      </div>
    </div>
  </div>
</section>