<div class="hero-wrap">
  <section class="hero overflow-hidden" id="top">
    <div class="container py-5 h-100">
      <div class="row align-items-center h-100">
        <div class="col-md-6 col-lg-5">
          <div class="text-center text-md-left text-white">
            <div class="row mb-4 d-flex justify-content-center justify-content-md-start">
              <div class="col-auto">
                <img src="{{'images/sintel.svg' | relative_url }}" width="260" class="d-inline-block align-top logo"
                  alt="Sibyl logo" loading="lazy">
              </div>
            </div>
            <h2 class="h3 font-weight-normal">Signal Intelligence</h2>
            <p class="h5 mt-3 font-weight-normal">
              Frameworks for large-scale time series data analysis.
              Develop human-in-the-loop analysis workflow to transfer the insights into actions in minutes.
            </p>
            <p class="mt-4">
              <a href="https://github.com/sintel-dev" class="btn btn-light h5 mr-2 my-2" target="_blank">
                <img width="18" height="18" src="/images/github.svg" style="vertical-align:text-bottom;" />
                Github</a>
              <a href="#" class="btn btn-light h5 my-2">
                <img width="18" height="18" src="/images/slack.svg" style="vertical-align:text-bottom;" />
                Join Slack community</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>