<div class="hero-wrap text-white">
  <section class="py-5 page-hero position-relative">
    <span class="anchor" id="use-cases"></span>
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-auto">
          <h1 class="h2 mt-3  font-weight-bold text-center">{{ include.title }}</h1>
          <div class="bg-orange mx-auto my-3" style="height: 4px; max-width: 200px;"></div>
  
          <p class="mx-auto text-center font-weight-normal" style="max-width: 640px;">
            {{ include.subtitle }}
          </p>
  
        </div>
      </div>
  
    </div>
  </section>
</div>