<section class="py-5 position-relative">
  <span class="anchor" id="publications"></span>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-10">
        {% include heading.html classname="text-center" title="Sintel Research" %}
        {% for item in site.data.publications %}
          <div class="row justify-content-center my-4 align-items-center">
            <div class="col-auto" style="width: 12rem;">
              <div class="bg-white">
                <div class="embed-responsive embed-responsive-4by3">
                  <img class="mx-auto d-block embed-responsive-item"
                    style="object-fit: contain;"
                   src="{{ item.image }}" alt="{{ item.title }}" />
                  
                </div>
              </div>
            </div>
            <div class="col">
              <p class="font-weight-bold h6 text-secondary mb-1">{{ item.title }}</p>
              <p class="text-secondary mb-1">{{ item.subtitle }}</p>
              <p class="text-secondary mb-1">
                <span class="badge badge-secondary">
                  {{ item.tag }}
                </span>
                {{ item.tag_text }}</p>
              <p class=" mb-1">
                Download 
                {{ item.download_text }} | 🏆
                <a href="{{ item.cta_url }}" class="text-warning">{{ item.cta_text }}</a>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section> 