<section class="py-5 position-relative">
  <span class="anchor" id="publications"></span>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-10">
        {% include heading.html classname="text-center" title="Sintel Research" %}
        {% for item in site.data.publications %}
          <div class="row justify-content-center my-5 my-md-4">
            <div class="col-9 col-md-auto" style="width: 12rem;">
              <div class="bg-white">
                <img class="mx-auto d-block w-100 mb-3 mb-lg-0"
                  src="{{ item.image }}" alt="{{ item.title }}" />
              </div>
            </div>
            <div class="col-md col-12">
              <p class="font-weight-bold h6 text-secondary mb-1">{{ item.title }}</p>
              <p class="text-secondary mb-1">{{ item.subtitle }}</p>
              <p class="text-secondary mb-1">
                <span class="badge badge-secondary">
                  {{ item.tag }}
                </span>
                {{ item.tag_text }}</p>
              <p class=" mb-1">
                Download: 
                {% for link in item.links %}
                  <a href="{{ link.url }}" target="_blank">[{{ link.name }}]</a>
                {% endfor %}
                {% if item.cta_url != null and item.cta_text != null%}
                | 🏆
                <a href="{{ item.cta_url }}" target="_blank" class="text-warning">{{ item.cta_text }}</a>
                {% endif %}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section> 