{% include orline.html %}
<section class="py-5 bg-light position-relative" id="">
  <span class="anchor" id="team"></span>
  <div class="container">
    {% include heading.html title="Team" subtitle="" classname="text-center" %}
    <div class="row justify-content-between my-4 no-gutters">
      {% for item in site.data.team %}
        <div class="col-md-3 col-lg-auto col-sm-6 col-6 mb-4 team-item">
          {% if item.link != "" %}
          <a href="{{ item.link }}" class="outer ascale is-square team mx-auto rounded-circle">  
            <img src="/images/team/{{ item.image }}" alt="{{ item.name }}" class="inner d-block" loading="lazy">
          </a>
          {% else %}
          <div class="outer is-square team mx-auto rounded-circle">
            <img src="/images/team/{{ item.image }}" alt="{{ item.name }}" class="inner d-block" loading="lazy">
          </div>
          {% endif %}
            <div class="text-center">
            <h3 class="text-uppercase h6 font-weight-normal mt-3 mb-1">
              {% if item.link != "" %}
              <a href="{{ item.link }}">{{ item.name }}</a>
              {% else %}
              {{ item.name }}
              {% endif %}
            </h3>
            <p class="mb-0 font-italic small">{{ item.title }}</p>
            {% if item.info %}
              <p class="mb-0 font-italic small">{{ item.info }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    {% include heading.html title="Previous Collaborators" classname="text-left" %}
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled">
          {% for item in site.data.team-alumni %}
          <li>{{ item.name }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  
{% comment %}
  <div class="container">
    {% include heading.html title="Previous Collaborators" classname="text-left" %}
    <div class="row justify-content-center my-4 no-gutters">
      {% for item in site.data.team-alumni %}
        <div class="col-md-3 col-lg-auto col-sm-6 col-6 mb-4 mb-lg-0 team-item">
          {% if item.link != null %}
          <a href="{{ item.link }}" class="outer ascale is-square team mx-auto rounded-circle">  
            <img src="/images/team/{{ item.image }}" alt="{{ item.name }}" class="inner d-block" loading="lazy">
          </a>
          {% else %}
          <div class="outer is-square team mx-auto rounded-circle">
            <img src="/images/team/{{ item.image }}" alt="{{ item.name }}" class="inner d-block" loading="lazy">
          </div>
          {% endif %}
          <div class="text-center">
            <h3 class="text-uppercase h6 font-weight-normal mt-3 mb-1">
              {% if item.link != null %}
              <a href="{{ item.link }}">{{ item.name }}</a>
              {% else %}
              {{ item.name }}
              {% endif %}
            </h3>
            <p class="mb-0 font-italic small">{{ item.title }}</p>
            {% if item.info %}
              <p class="mb-0 font-italic small">{{ item.info }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% endcomment %}
</section>