<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#6D2779"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{'/css/main.css' | absolute_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="{{'/images/favicon.png' | absolute_url}}"/>
    <link rel="apple-touch-icon" href="{{'/images/favicon.png' | absolute_url}}">

    <style>
      img[src$=".jpg"] {
        image-rendering: -moz-crisp-edges; 
        image-rendering: -o-crisp-edges; 
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor; 
      }
      img {
        image-rendering: pixelated;
      }
    </style>

  </head>
  <body>
    {% include js-nav.html %}
    {{ content }}
    {% include footer.html %}

    <script src="{{'js/dist/app.bundle.js' | relative_url }}"></script>
    <script src="{{'js/dist/main.bundle.js' | relative_url }}"></script>

    <script>
      window.addEventListener('load', function(){
        document.querySelectorAll('a.smooth-scroll[href^="#"]').forEach(anchor => {
          anchor.addEventListener('click', function (e) {
              e.preventDefault();
              console.log(this.getAttribute('href'));
              document.querySelector(this.getAttribute('href')).scrollIntoView({
                  behavior: 'smooth'
              });
          });
        });
      })
      
      // $( document ).ready(function() {        
      //   $('.nav-pills .nav-link').hover(function(e) {
      //     e.preventDefault();   
      //     $(this).tab('show');
      //   });
      // });
    </script>

    <script>

      function showClearFilter(id, value) {
        var curr = document.getElementById(id)
        curr.classList.replace('d-none', 'd-inline-block')
        curr.innerHTML = `${value} <span class="text-danger">&times;</span>`
      }

      function hideClearFilter(id) {
        var curr = document.getElementById(id)
        curr.classList.replace('d-inline-block', 'd-none')
      }

      function resetTheme() {
        var themeFilter = document.getElementById('allThemes')
        themeFilter.value = 'all';
        filterByThemeProj()
        document.getElementById('clearTheme').classList.replace('d-inline-block', 'd-none')
      }

      function filterByThemeProj() {
        var themeFilter, projectFilter, themeVal, projectVal, wrapper, items, themeItems, projItems, item, i, searchInput, matchesSearch;

        searchInput = document.getElementById('searchInput');
        filter = searchInput.value.toUpperCase();

        themeFilter = document.getElementById('allThemes')
        wrapper = document.getElementById("libWarp");
        items = wrapper.getElementsByClassName('lib-item');
        themeVal = themeFilter.value

        var readableTheme = themeVal.replace('theme-', '').replace('-', ' ')

        themeItems = (themeVal === 'all') ? wrapper.getElementsByClassName('lib-item') : wrapper.getElementsByClassName(themeVal)    

        var itemsCounter = 0
        for (i = 0; i < items.length; i++) {
          if (themeVal === 'all') {
            hideClearFilter('clearTheme');
            items[i].style.display = "";
          } else if (themeVal === 'all') {
            hideClearFilter('clearTheme');
            items[i].style.display = "";
          } else if (themeVal !== 'all') {
            showClearFilter('clearTheme', readableTheme)
            if (items[i].classList.contains(themeVal)) {
              items[i].style.display = "";
            } else {
              items[i].style.display = "none";
              itemsCounter++
            }
          } else if (themeVal !== 'all') {
            showClearFilter('clearTheme', readableTheme)
            if (items[i].classList.contains(themeVal)) {
              items[i].style.display = "";
            } else {
              items[i].style.display = "none";
              itemsCounter++
            }
          }
          console.log(itemsCounter)
        }

        if (itemsCounter >= items.length) {
          document.getElementById('notFound').classList.replace('d-none', 'd-block')
        } else {
          document.getElementById('notFound').classList.replace('d-block', 'd-none')
        }

        if (filter !== '') {
          var hiddenItemsCounter = 0
          for (i = 0; i < items.length; i++) { 
            item = items[i].querySelector('.lib-name');
            txtValue = item.textContent || item.innerText;
            matchesSearch = txtValue.toUpperCase().indexOf(filter) > -1
            if (matchesSearch && items[i].style.display === '') {
              items[i].style.display = "";
            } else {
              hiddenItemsCounter++
              items[i].style.display = "none";
            }
          }
          
          if (hiddenItemsCounter >= items.length) {
            document.getElementById('notFound').classList.replace('d-none', 'd-block')
          } else {
            document.getElementById('notFound').classList.replace('d-block', 'd-none')
          }
        } 
      }
      
    </script>

    <script>
      window.addEventListener("DOMContentLoaded", function () {
        const githubTopicsItems = Array.prototype.slice.call(
          document.querySelectorAll(".github-topics")
        );

        function reqError(err) {
          console.log("Fetch Error", err);
        }

        githubTopicsItems.forEach((item, idx) => {
          const url = `https://api.github.com/repos/${item.dataset.owner}/${item.dataset.repo}/topics`;
          const currentRequest = new XMLHttpRequest();
          currentRequest.onload = function () {
            if (this.status != 200) {
              console.log(`STATUS ${JSON.stringify(this.status)}`);
            } else {
              var data = JSON.parse(this.responseText);
              const currentTopics = data.names;

              let htmlToAdd = "";

              currentTopics.map((i,idx) => {
                if (idx <= 2 ) {
                htmlToAdd += `
                    <a 
                      href="https://github.com/topics/${i}" 
                      class="d-inline-block badge-pill bg-lightblue text-primary topic-link mb-1">
                    ${i}</a>
                  `;
                }
              });

              item.innerHTML = htmlToAdd;
            }
          };
          currentRequest.onerror = reqError;
          currentRequest.open("get", url, true);
          currentRequest.setRequestHeader(
            "Accept",
            "application/vnd.github.mercy-preview+json"
          );
          currentRequest.send();
        });
      });
    </script>

    
  </body>
</html>
